@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin-left: calc(100vw - 100%); // fix scrollbar jump
}


.container {
  width: min(90%, 1280px);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-gap: 1rem;

  &--store {
    grid-template-columns: 1fr 5fr;
  }

  &--product-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &--product-grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &--cart {
    grid-template-columns: 5fr 2fr;
    grid-gap: 2rem;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.range[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  background-color: #C6C6C6;
  pointer-events: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;

    &:hover {
      background: #f7f7f7;
    }

    &:active {
      box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }
  }
}